html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.p5Canvas {
    margin: 0;
    padding: 0;
}

#load {
    position: fixed;
    top: 0;
    width: 90px;
    right: 55px;
    color: transparent;
}