.sidebar {
    height: 77vh;
    width: 245px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    
    white-space: nowrap;
    color: white;
    font-family: helvetica, sans-serif;
    white-space: pre-line;
  }

  .sidebar p, .sidebar h1, .sidebar a {
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .sidebar a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    border: solid 1px;
    padding: 5px;
    border-color: white;
    text-align: right;
    margin-right: 8%;
    float: right;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .invisible {
    display:none !important;
}

#examples_container{
    height: 57vh;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#examples_container .img_container{
    width: 16vw;
    height: 16vw;
}
#examples_container .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}




/* CUSTOM DAT.GUI */



  .dg.a {
      margin-right: 0 !important;
  }

.dg .main .a {
    background: black !important;
}

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}
 
.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: white;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg .c .slider:hover .slider-fg{    
    background: white;
}
.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #030303;
    border-bottom: 1px solid #ddd;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}
.dg .c .slider:hover{
    background: black !important;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: black;
}
 
.dg .c input[type=text] {
    background:black;
}
 
.dg .c input[type=text]:hover {
    background:black;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}

.dg .c .slider-fg {
    background: white;
}

.dg .c .slider {
    background:black;
    border: solid 0.2px;
    border-color: white;
}

.dg .cr.number, .dg .cr.function {
    border-left:none;
}

.dg .cr.number input[type=text] {
    color: white !important;
}