/* -- helpers --------------------------- */

.disable-scroll{
    top: 0;
    overflow: hidden;
    position: fixed;
    /*touch-action: none;*/
}

.disable-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; 	/* iOS Safari */
    -webkit-user-select: none; 		/* Safari */
    -khtml-user-select: none; 		/* Konqueror HTML */
    -moz-user-select: none; 		/* Firefox */
    -ms-user-select: none; 			/* Internet Explorer/Edge */
    user-select: none;
}

.disable-pointer {
    pointer-events: none;
}

/* -- mini navigation --------------------------- */

.minimenu{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: black;
    position: fixed;
    top: 0;
    right: 2em;
    width: auto;
    height: auto;
    background-color: white;
    z-index: 10;
}


.minimenu ul {
    margin:0;
    padding:0;
    list-style: none;
}

.minimenu li {
    border-right: 1px solid rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding: 8px;
    margin:0;
    float: left;
    display: block;
    height: 22px;
}

.minimenu li.over:hover{
    background-color: yellow;
}

.minimenu li:first-child{
    border-left: 1px solid rgba(0,0,0,0.15);
}

.minimenu canvas{
    display: inline !important;
    color: white;
    text-decoration: none;
}

.minimenu .nome{
    line-height: 24px;
    display: inline-block;
}

.btn{
    text-align: center;
    width:24px;
    display: inline-block;
    cursor: pointer;
}

.minimenu li .btn:hover{
    background-color: yellow;
}

.minimenu a{
    text-decoration: none;
    color: black;
}

.btn_next:before{
   content: "→";
}

.btn_prev:before{
    content: "←";
}

.btn_home:before{
    content: "↑";
}

.btn_play:before{
    content:"♫";
}

.minimenu .unbreak{
    display: none;
}

@media only screen
and (max-width : 560px) {
    .minimenu {
        right: 0;
    }
    .minimenu .break{
        display:none;
    }
    .minimenu .unbreak{
        display:initial;
    }
}


